{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Blinkit Is The Only Online Supermarket You Need. Buy Fruits, Veggies, Snacks, Milk & More. Daily Needs Delivered To Your
                 Home Faster Than Supermarkets, Only On Blinkit. Shop Now. Cash On Delivery Allowed. Fresh Fruits & Vegetables. Wide Range 
                 of Products.</p>

        </div>
    </div>
</div>
{% endblock content %}
